@import "../../../src/style/global.scss";
.home {
  width: 100%;
  .contentImage {
    width: 100%;
    img {
      width: 6.6%;
      max-width: 91px;
      margin-top: 10.7%;
    }
  }
  .title {
    margin-top: 24.5px;
  }
  .subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: $GD600;
  }

  .contentInput {
    margin: 0 auto;
    width: 23.43%;
    max-width: 322px;
    .label {
      margin: 56px 0 9px;
      width: 100%;
      text-align: left;
    }
    .iconinput {
      position: relative;
      display: flex;
      align-items: center;
      .fas {
        position: absolute;
        left: 4.4%;
      }
    }
    input {
      width: 100%;
      height: 46px;
      padding: 1px 7% 0;
      border: 1px solid $GL300;
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      font-size: 18px;
    }
    .error {
      visibility: hidden;
      font-size: 12px;
      font-style: italic;
      text-align: left;
      color: $R600;
      &.show {
        visibility: visible;
      }
    }
    .contentButton {
      display: flex;
      justify-content: flex-end;
      margin-top: 28px;
      button {
        appearance: none;
        height: 46px;
        width: 55%;
        background-color: $B03;
        color: $W0;
        border-radius: 4px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:disabled {
          background-color: $GD400;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .home {
    .contentImage {
      img {
        width: 24%;
        margin-top: 20.4%;
      }
    }
    .title {
      width: 82%;
      margin: 36px auto 0;
    }
    .subtitle {
      width: 82%;
      margin: 16px auto 0;
    }

    .contentInput {
      width: 82%;
      .label {
        margin-top: 32px;
      }
      .contentButton {
        button {
          width: 100%;
          position: relative;
          span {
            position: absolute;
            right: 5%;
          }
        }
      }
    }
  }
}
